# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
#ignore lambda_pkg dir
lambda_pkg_7hks/
#ignore lambda_pkg dir
lambda_pkg_zxqs/
